<!doctype html>
<html lang="es" class="no-js">
	<head>
		<script></script>
		<meta charset="utf-8">
		<title>Hotgram - The most popular photos on Instagram</title>
		<link rel="stylesheet" href="src/css/normalize.css">
		<link rel="stylesheet" href="src/css/chico.css">
		<link rel="stylesheet" href="src/css/hotgram.css">
		
		<!-- Mobile viewport optimization -->
		<meta name="HandheldFriendly" content="True" />
		<meta name="MobileOptimized" content="320" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	</head>
	<body>
		<header class="ch-header">
			<h1 class="ch-logo">Hotgram</h1>
			<form action="./" method="GET" role="search" class="ch-form ch-header-form"><input id="query" type="text" name="q" value="" autocomplete="off" placeholder="Search by tags..." class="search"><input type="submit" value="Search" accesskey="s" class="ch-icon-search"></form>
			<!--a href="https://instagram.com/oauth/authorize/?client_id=8592b07f6eaf4efb9e3b6c7a054b6aa0&redirect_uri=http://pazguille.github.com/hotgram/&response_type=token&scope=likes" class="login"><img src="src/assets/login_ins.png" alt="Login" /></a-->
		</header>
		<section id="hottest" role="content">
			<div class="ch-loading"></div>
		</section>
		<!-- Templates -->
		<script type="text/template" id="tpl-photo">
			<article class="photo">
				<header class="details">
					<h2 class="author">
						<a href="<%= user.website %>" target="_blank">
							<img src="<%= user.profile_picture %>" width="45" height="45" alt="<%= user.full_name %>" /> <%= user.username %>
						</a>
					</h2>
					<ul class="ch-stats">
						<li><iframe src="http://www.facebook.com/plugins/like.php?href=<%= link %>&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=35&amp;appId=294291827276283" scrolling="no" frameborder="0" allowTransparency="true" width="51" height="24"></iframe></li>
						<!--li><a href="https://api.instagram.com/v1/media/<%= id %>/likes" count-layout="none" class="ch-btn-skin ch-btn-tiny ch-icon-heart-empty shareButton">Like</a></li-->
						<li class="ch-icon-heart"><%= likes.count %> <span>likes&nbsp;&nbsp;</span></li>
						<li class="ch-icon-comment"><%= comments.count %> <span>comments&nbsp;&nbsp;</span></li>
					</ul>
				</header>
				<figure>
					<a class="pic" href="<%= link %>" target="_blank">
						<img src="<%= images.standard_resolution.url %>" alt="<%= description %>">
					</a>
					<% if (description !== "") { %>
						<figcaption><%= description %></figcaption>
					<% } %>
				</figure>
			</article>
		</script>
		<script>
			(function(a){"use strict";var b=function(){var a=document.head||document.getElementsByTagName("head")[0],b=navigator.appName.indexOf("Microsoft")===0,c=0,d,e,f;f=function(a){var c=document.createElement("script");c.src=a;c.async="async";if(b){c.defer="defer"}return c};e=function(a,b,e){if(a!==b[b.length-1]){c+=1;d(b[c],b,e);return}if(e){e()}};d=function(c,d,g){var h=f(c);if(b&&h.readyState){h.onreadystatechange=function(){if(h.readyState==="loaded"||h.readyState==="complete"){h.onreadystatechange=null;e(c,d,g)}}}else{h.onload=function(){e(c,d,g)}}a.appendChild(h)};return{me:function(a,b){if(typeof a==="string"){a=[a]}(function(a,b){d(a[c],a,b)})(a,b);return this}}}();a.give=b})(window);

			give.me(["vendor/jquery.js","vendor/underscore.js","vendor/backbone.js","src/js/app.js"]);
			
			var _gaq=[['_setAccount','UA-15753373-6'],['_trackPageview']];
			(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
			g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
			s.parentNode.insertBefore(g,s)}(document,'script'));
		</script>
	</body>
</html>