.ch-slats > li {
	margin: 10px 1%;
	display: inline-block;
}

.ch-stats li {
	height: auto;
}

.ch-stats li span {
	text-indent: 0px;
}

.video {
	padding-top: 55px;
}

.video .title {
	max-height: 22px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.video .description {
	position: absolute;
	top:0;
	left: 0;
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
	padding: 10px;
	border-radius: 0 0 10px 10px;
	border: 1px solid #CCC;
	background: #FAF7F7;
	color: #524D4D;
}

/*.video:hover .description,
.video:focus .description,
.video:active .description {
	top: 437px;
	z-index: 2;
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=1);
}*/

.repin {
	top: 14px;
}

/*--
	Landscape view
--*/
@media screen and (min-width: 768px){
/* Styles */
	.ch-slats > li {
		width: 48%;
	}

}

/*--
	Desktop and laptops
--*/
@media only screen and (min-width: 1024px) {
/* Styles */
	.ch-slats > li {
		width: 31%;
	}
}

}

/*--
	Large screens
--*/
@media only screen and (min-width : 1824px) {
/* Styles */

}